<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ title }}</title>
    <meta name="description" content="Zurb Foundattion sass + Eleventy (11ty) static site template">
    <meta property="og:description" content="">
    <meta property="og:image" content="/images/logo.png">
    <meta property="og:url" content="http://localhost:8080/">
    <meta property="og:title" content="{{ title }}">

    <link rel="stylesheet" href="/css/foundation.css"/>
    <link rel="icon" href="/images/logo.png"/>
</head>
